* {
  margin: 0;
  padding: 0;
  /* outline: 1px red solid; */
}

.back {
  background-image: url(https://images.unsplash.com/photo-1463136254508-f68e4062e919?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.backg {
  background-color: black;
  position: absolute;
  width: 100%;
  opacity: 85%;
}

.test {
  color: rgb(255, 255, 255);
}

.test:hover {
  color: rgb(242, 173, 173);
  opacity: 100%;
}

.button1 {
  background-color: white;
  opacity: 50%;
  border-radius: 25%;
}
